.egg:hover {
    transform: scale3d(1.1, 1.1, 1.1);
    transition: transform 0.2s;
}

.facing-left {
    transform: rotateY(180deg);
}

.facing-right {
    
}

.button-no-style {
    background-color: transparent;
    border: none;
}
.game-grid {
    /* background-image: url('/sprites/set.svg'); */
    width: 256px;
    height: 256px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(7, 1fr);

}

.center-in-grid {
	grid-column: 3;
    grid-row: 4;
}

.left-of-center {
    grid-column: 2;
    grid-row: 4;
}

.right-of-center {
    grid-column: 4;
    grid-row: 4;
}

.need-buttons {
    display: flex;
    gap: 64px;
}

.needs {
    display: flex;
    gap: 3px;
}

.need-bar {
    border: 2px solid black;
    border-radius: 5px;
    background-color: aliceblue;
    padding:2px;
    display: flex;
    gap:2px;
    max-width: 100px;
    max-height: 10px;
}
.notch {
    background-color: black;
    width: 1px;
    padding: 3px;
    border-radius: 1px;
    transition: background-color 0.2s ease-in-out
}

.notch-transparent {
    background-color: rgb(219, 218, 218);
    width: 1px;
    padding: 3px;
    border-radius: 1px;
    transition: background-color 8s ease-in-out
}

.need-icon {
    font-size: 70%;
}

.admin-panel {
    border: 2px solid black;
    border-radius: 5px;
    background-color: aliceblue;
}

.pet-name {
    color: #a4c263
}

